/*********************************************
Author: Nirjan Khadka
URL: 
Details: Raleway company site
Date: 2017//7/4
**********************************************/

/********* color guide *********
#ebd305 - yellow (accent color)
#131313 - black (contact form)
#0a0a0a - black(text field)
#111 - black(footer)

/********* Typography **************
Garamond - headers
Helvetica - paragrapghs

/******************************************
1. Reset
2. Grid
3. Typography style
4. Nav
5. Header
6. Main
7. Footer
8. Media Queries
*******************************************/

/************ Reset ***********************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body {
    font-size: 62.5%;
    line-height: 1;
    background-color: #fff;
}
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{ 
  text-decoration: none;
  display: inline-block;
 }

/*********** Grid ***********************/
.col-flex{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-orient:vertical;
  -webkit-box-direction:normal;
      -ms-flex-flow:column;
          flex-flow:column;
  -webkit-box-align:start;
      -ms-flex-align:start;
          align-items:flex-start;
}
 
 .row{
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
}
.col{
  padding:1%;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
  margin-bottom: 2em;
}

.col{ -webkit-box-flex:1; -ms-flex:1 1 100%; flex:1 1 100%; }

@media screen and (min-width:600px) and (max-width:900px){
  .col{ -webkit-box-flex:1; -ms-flex:1 1 50%; flex:1 1 50%; }
  .row{ -ms-flex-wrap:wrap; flex-wrap:wrap; }
}

@media screen and (min-width:900px){
  .col{ -webkit-box-flex:1; -ms-flex:1 1 25%; flex:1 1 25%; }
}

/*********** Typography *******************/
h1{ font: 2.4em Helvetica,sans-serif; }
a{font: 2em Helvetica,sans-serif;}
.hero-header,.hero-text,.btn-cta{
  font-family: Helvetica,sans-serif;
  font-weight: 100;
}
.hero-header{
  font-size: 6em;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  line-height: 1.5;
}
.hero-text{
  font-size: 3em;
  font-style: italic;
  letter-spacing: 0.1em
}
.btn-cta{
  font-size:2.4em;
  color: #ebd305;
}
h2,h5{
  font: 3.5em Garamond serif;
  text-decoration: underline yellow;
  text-underline-position: under;
}

h3{
  font: 3em Helvetica sans-serif;
  color: #000;
}
#intro i{
  font-size: 6em;
  color: #fff;
}
p{ font: 2em Helvetica,sans-serif; }
#testimonials i{ font-size: 3em; }
/*********** Nav ************************/
header#page-header{
  z-index: 2000;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
  -ms-flex-wrap:wrap;
      flex-wrap:wrap;
  -ms-flex-pack:distribute;
      justify-content:space-around;
}
nav{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.nav-item{
  color: #fff;
  padding-bottom: 10px;
  margin: 0 2.5em;
  border-bottom: 5px solid transparent;
  -webkit-transition: border-color 0.4s;
  transition: border-color 0.4s;
}
.nav-item:hover{ border-bottom-color:#fff; }
.yellow-text{ color:#ebd305; }
#page-header h1{padding-bottom: 15px;}
.nav-toggle{
  font-size: 3em!important;
  margin-left: auto;
  display: none!important;
  cursor: pointer;
}
header#page-header.scroll{
  position:fixed;
  background: #000;
  padding: 1%;
  width: 100%;

}
header#page-header.scroll h1,header#page-header.scroll .nav-item{ padding-bottom: 5px; }
/*********** Main **********************/

/*********** hero *******************/
#hero-img{
  background-attachment:fixed!important;
  background-blend-mode: overlay;
  text-align: center;
  background: #444 url(../../img/hero.jpg) no-repeat center;
  height: 100vh;
  background-size: cover;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fff;
}
.hero-text{ margin: 2em 0;}
.btn-cta{
  border: 3px solid #fff;
  padding: 1% 4%; 
  -webkit-transition:background 0.3s; 
  transition:background 0.3s;
}
.btn-cta:hover{ background: #000; }
/************* intro *************/
#intro {
  text-align: center;
  margin-top: 10em;
}
#intro h2{
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
#intro > p{ margin: 5em 0; }
.feature{
  background:#ebd305;
  margin: 1em 0;
  padding: 5% 2%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
}
.feature:nth-child(2),.feature:nth-child(2) h3{
  background: #000;
  color: #fff;
}

.feature i{
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 25px 30px
}
.feature h3{ margin: 1em 0; }
/***********testimonials******************/
.carousel{
  position: relative;
  margin:5em auto;
  max-width: 630px;
  height: 525px;
}
.bold{ font-weight: bolder; }
.testimonial{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity:0;
  -webkit-transition: opacity 5s ease-out;
  transition: opacity 5s ease-out;
}
.testimonial.active{
  opacity: 1;
  -webkit-transition: opacity 5s ease-in;
  transition: opacity 5s ease-in;
}
#testimonials{
  text-align: center;
  margin: 5% 0;
}
#testimonials h2{ margin: 1em 0; }

figcaption{
  font: 1.8em Helvetica sans-serif;
  margin: 2em 0;
}

.slide-indicator{
  width: 30px;
  height: 8px;
  background-color:grey;
  display: inline-block;
  margin: 0 8px;
  cursor: pointer;
  
}
.slide-indicator.active{ background: #ebd305; }
.indicators{
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/*** blog #ebd305 **/
#blog{
  text-align: center;
  background: rgba(235, 211, 5, 0.7) url('../../img/blog-background.jpg') no-repeat center center;
  background-size: cover;
  background-blend-mode: overlay;
  padding: 2% 0;
  background-attachment: fixed;
}
#blog h2{ text-decoration: underline white; }
#blog p{
  max-width: 265px;
  margin: 2em auto;
  color: white;
}
.featured-blogs{ margin-top: 3em; }
.social a i{
  color: white;
  font-size: 1.4em;
  margin: 0 10px;
  -webkit-transition: color 0.4s;
  transition: color 0.4s;
}
.blog img{
  width: 100%;
}
.social a i:hover{ color: black; }
.blog a{ position: relative; }
.blog{ margin: 2em 0;}
.blog a:after{
  content:attr(title);
  position: absolute;
  bottom: 20px;
  color: white;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
/** subscribtion form **/
#subscription-form{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #131313;
  padding: 5% 2%;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;

}
#subscription-form form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex:1;
      -ms-flex:1;
          flex:1;
}
#subscription-form h3{
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: white;
  font-size: 2.4em;
  text-align: center;
  margin-bottom: 0.5em;
  margin-right: 2em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#subscription-form form input[type="email"]{
  padding: 1% 1%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.8em;
  background: #0a0a0a;
  outline: none;
  border: none;
  color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
#subscription-form form input[type="button"]{
  background: #ebd305;
  border: none;
  font-size: 1.8em;
  padding: 1% 0;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  cursor: pointer;
  -webkit-box-shadow:inset 0px -3px 0px rgba(0,0,0,0.6);
          box-shadow:inset 0px -3px 0px rgba(0,0,0,0.6);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*********** Footer ********************/
.wrapper{
  width: 84%;
  margin: 0 auto;
}
footer{
  background: #111; 
  padding: 2% 0;
  color: #fff;
}
footer h5{
  font-size: 2.4em;
}
footer p{
  margin: 1em 0;
}
.no-underline{
  text-decoration: none;
}
blockquote{
  margin:1em ;
}
blockquote p{
  font-style:italic;
}

cite{
  font-size: 1.8em;
}
footer ul{
  margin-top: 1em;
}
footer li a{
  padding: 0.5em 0;
  border-bottom: 1px solid;
  color: #fff;
}
footer li:before{
  content: '+ ';
}
/*********** Media Queries *************/
@media screen and (max-width: 805px){
  header#page-header{
    background: #000;
    position: fixed;
    width: 100%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  nav,.nav-item{
    display: block;
    width:100%;
    margin: 0;
  }
  nav{
    height: 0;
    overflow: hidden;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
  nav.show{
    width: 100%;
    height: 30em;
    -webkit-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
  }
  .nav-item{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2% 2%;
  }
  .nav-toggle{
    display: inline-block!important;
  }
  .hero-header{
    font-size: 4em;
  }
  .hero-text{
    margin:1.5em;
    font-size: 2.5em;
  }

}
@media screen and (max-width: 905px) {
  #blog{
    background: rgba(235, 211, 5, 0.7);
  }  
}
@media screen and (max-width: 960px){
  .wrapper{
    width: 100%;
  }
}
@media screen and (max-width: 340px){
  #subscription-form form{
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #subscription-form form input[type="email"]{
    margin-bottom: 10px;
  }
  .testimonial p{
    font-size: 1.8em;
  }
}
